
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.HeaderC {
    background-image: linear-gradient(to bottom, rgb(0, 174, 255) ,rgb(6, 153, 211) );
    padding: 10px;
    text-align: center;
}

.headermain {
    margin: 0 auto;
    height: 50px;
}

.Title {
    font-size: 250%;
    font-weight: bolder;
    color: white;
    margin: 0;
    margin-top: 5px;
    transform: rotate(-8deg);
    z-index: 1;
}

.ShadowTitle {
    font-size: 250%;
    font-weight: bold;
    color: black;
    margin: 0;
    transform: rotate(-8deg);
    margin-top: -50px;
    z-index: -1; 
}

.hotbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
    border-style: solid;
    background-image: linear-gradient(to right, red 100%, transparent 50%);
    background-position: 0 0;
    background-size: 100% 2px;
    background-repeat: no-repeat;
}

.hotbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hotbar li {
    display: inline-block;
    margin-right: 20px;
}

.hotbar a {
    color: azure;
    text-decoration: none;
}

.hotbar a:hover {
    color: azure;
}

.mainC{
    display: flex;
    background-image: linear-gradient(to bottom, rgb(0, 217, 255) ,rgb(2, 81, 155) );
    align-items: center;
}

.firstS {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.firstS .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sink1{
    border-radius: 100%;
    height: 500px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    
}
