
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.HeaderC {
    background-image: linear-gradient(to bottom, rgb(0, 174, 255) ,rgb(6, 153, 211) );

    padding: 10px;
    text-align: center;
}

.headermain {
    margin: 0 auto;
    height: 50px;
}

.Title {
    font-size: 250%;
    font-weight: bolder;
    color: white;
    margin: 0;
    margin-top: 5px;
    transform: rotate(-8deg);
    z-index: 1;
}

.ShadowTitle {
    font-size: 250%;
    font-weight: bold;
    color: black;
    margin: 0;
    transform: rotate(-8deg);
    margin-top: -50px;
    z-index: -1; 
}

.hotbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
    border-style: solid;
    background-image: linear-gradient(to right, red 100%, transparent 50%);
    background-position: 0 0;
    background-size: 100% 2px;
    background-repeat: no-repeat;
}

.hotbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hotbar li {
    display: inline-block;
    margin-right: 20px;
}

.hotbar a {
    color: azure;
    text-decoration: none;
}

.hotbar a:hover {
    color: azure;
}

.mainC{
    display: flex;
    flex-direction: column;
    
    background-image: linear-gradient(to bottom, rgb(0, 217, 255) ,rgb(2, 81, 155) );
    align-items: center;
}

.firstS {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.about{
    align-self: center;
    font-size: 300%;
    color: rgb(0, 174, 255);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.aboutdesc{
    font-size: 150%;
    color: rgb(0, 174, 255);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    z-index: 10;
}

.firstS .sink1text {
    margin: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.sink1{
    
    display: flex;
    height: auto;
    width: 100%;
    max-width: 430px;
    margin: 100px 100px 50px 0px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-style: solid;
    border-radius: 100%;
    z-index: 2;
}



.type{
    align-self: center;
    font-size: 300%;
    color: rgb(0, 174, 255);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    
}

.typedesc{
    font-size: 150%;
    color: rgb(0, 174, 255);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    
}

.SecondS{
    margin: 100px 100px 100px 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    z-index: 100;
}

.sink2{
    display: flex;
    height: auto;
    width: 100%;
    max-width: 430px;
    margin: 100px -100px 100px 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-style: solid;
    border-radius: 100%;
    
}




.sink3{
    display: flex;
    height: auto;
    width: 100%;
    max-width: 530px;
    margin: 100px 50px 100px 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-style: solid;
    border-radius: 10%;
}

.feature{
    align-self: center;
    font-size: 300%;
    color: rgb(0, 174, 255);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    
}

.featuredesc{
    font-size: 150%;
    color: rgb(0, 174, 255);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.ThridS{
    display: flex;
    align-items:center ;
    z-index: 100;
    gap: 10px;
}


